#arrow
{
  position:absolute;
  font-size: 100pt;
}

#maindiv
{
  width: 100% !important;;
  height: 100% !important;;
}

#hint
{
  position: absolute;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}

/*.jsMovieFrame {
 background-position: top center !important;
 background-size: cover !important;
 width: 100% !important;
 height: 100% !important;
}   */

/* ------------ REMOTE WINDOW ------------- */
#enter-code {
  background: rgba(0,0,0,.2);
  text-align: center;
  margin: 30px;
  padding: 20px 60px;
  input[type="text"] {
    background: none;
    border: none;
    border: 1px white solid;
    padding: 6px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
  }

  input:focus, form:focus, div:focus {
    outline: none;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    color: #34537e;
    border: none;
    font-size: 20px;
    padding: 6px;
    width: 100%;
    margin-top: 10px;
  }
}




#preloader {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drop1 {
  /*width: 81px;
  height: 93px;*/
  background: url(img/drop-1.png);
  position: absolute;
  /*top: 20px;
  left: 100px;*/
}

.drop2 {
  /*width: 73px;
  height: 69px;*/
  background: url(img/drop-2.png);
  position: absolute;
  top: 60px;
  left: 900px;
}


#pass {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0,0,0,.2);
  padding: 10px 10px 30px 10px;
  display: block;
}

#out {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0,0,0,.2);
  padding: 10px 10px 30px 10px;
}

#pass a.bb {
  font-size: 14px;
  color: white;
  border: 1px white solid;
  padding: 10px;
  background: rgba(0,0,0,.2);
  display: block;
  word-break: break-all;
}

#pass canvas {
  border: 1px white solid;
  background: none repeat scroll 0% 0% white;

}

#introplay, #milktoglass, .jsMovieFrame {
  height: 100% !important;
}

#introplay, #milktoglass {
  width: 100% !important;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}
#pass, #out, #messages {
  position: absolute;
  right:0px;
}