//
// Variables
// --------------------------------------------------
@import "functions/functions";

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$color_gray_darker:            lighten(#000, 13.5%) !default; // #222
$color_gray_dark:              lighten(#000, 20%) !default;   // #333
$color_gray:                   lighten(#000, 33.5%) !default; // #555
$color_gray_light:             lighten(#000, 60%) !default;   // #999
$color_gray_lighter:           lighten(#000, 93.5%) !default; // #eee

$color_main:              #428bca !default;
$color_1:                 #5cb85c !default;
$color_2:                 #5bc0de !default;
$color_3:                 #f0ad4e !default;
$color_4:                 #d9534f !default;


//== Scaffolding
$body_bg:                 #fff !default;
$g_text_color:            $color_gray_dark !default;
$g_border_radius: 5px;
// Global textual link color.
$g_link_color:            $color_main !default;
// Link hover color set via `darken()` function.
$g_link_hover_color:      darken($g_link_color, 15%) !default;


//== Typography
// -----------------------------------------
//  line heights
//-----------------------------------------
$lh_base: 1;
//headings
$lh_heading: 1.3;
//paragraphs
$lh_paragraph: 1.4;
//-----------------------------------------
//  font sizes
//-----------------------------------------
//base
$fs_base: 16px;
$fs_small: $fs_base;
//headings
$fs_h1:            floor(($fs_base * 2.6)) !default; // ~36px
$fs_h2:            floor(($fs_base * 2.15)) !default; // ~30px
$fs_h3:            ceil(($fs_base * 1.7)) !default; // ~24px
$fs_h4:            ceil(($fs_base * 1.25)) !default; // ~18px
$fs_h5:            $fs_base !default;
$fs_h6:            ceil(($fs_base * 0.85)) !default; // ~12px
//paragraphs
$fs_paragraph: 16px;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

//$btn-font-weight:                normal !default;
//
//$btn-default-color:              #333 !default;
//$btn-default-bg:                 #fff !default;
//$btn-default-border:             #ccc !default;
//
//$btn-primary-color:              #fff !default;
//$btn-primary-bg:                 $brand-primary !default;
//$btn-primary-border:             darken($btn-primary-bg, 5%) !default;
//
//$btn-success-color:              #fff !default;
//$btn-success-bg:                 $brand-success !default;
//$btn-success-border:             darken($btn-success-bg, 5%) !default;
//
//$btn-info-color:                 #fff !default;
//$btn-info-bg:                    $brand-info !default;
//$btn-info-border:                darken($btn-info-bg, 5%) !default;
//
//$btn-warning-color:              #fff !default;
//$btn-warning-bg:                 $brand-warning !default;
//$btn-warning-border:             darken($btn-warning-bg, 5%) !default;
//
//$btn-danger-color:               #fff !default;
//$btn-danger-bg:                  $brand-danger !default;
//$btn-danger-border:              darken($btn-danger-bg, 5%) !default;
//
//$btn-link-disabled-color:        $gray-light !default;


//== Forms
//
//##

////** `<input>` background color
//$input-bg:                       #fff !default;
////** `<input disabled>` background color
//$input-bg-disabled:              $gray-lighter !default;
//
////** Text color for `<input>`s
//$input-color:                    $gray !default;
////** `<input>` border color
//$input-border:                   #ccc !default;
////** `<input>` border radius
//$input-border-radius:            $border-radius-base !default;
////** Border color for inputs on focus
//$input-border-focus:             #66afe9 !default;
//
////** Placeholder text color
//$input-color-placeholder:        $gray-light !default;
//
////** Default `.form-control` height
//$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
////** Large `.form-control` height
//$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
////** Small `.form-control` height
//$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
//
//$legend-color:                   $gray-dark !default;
//$legend-border-color:            #e5e5e5 !default;
//
////** Background color for textual input addons
//$input-group-addon-bg:           $gray-lighter !default;
////** Border color for textual input addons
//$input-group-addon-border-color: $input-border !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  48.0em !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  76.8em !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  99.2em !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  120em !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         rem-calc(30) !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((rem-calc(720) + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((rem-calc(940) + $grid-gutter-width)) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((rem-calc(1140) + $grid-gutter-width)) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
//
//$state-success-text:             #3c763d !default;
//$state-success-bg:               #dff0d8 !default;
//$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;
//
//$state-info-text:                #31708f !default;
//$state-info-bg:                  #d9edf7 !default;
//$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;
//
//$state-warning-text:             #8a6d3b !default;
//$state-warning-bg:               #fcf8e3 !default;
//$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;
//
//$state-danger-text:              #a94442 !default;
//$state-danger-bg:                #f2dede !default;
//$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Alerts
//
//## Define alert colors, border radius, and padding.

//$alert-padding:               15px !default;
//$alert-border-radius:         $border-radius-base !default;
//$alert-link-font-weight:      bold !default;
//
//$alert-success-bg:            $state-success-bg !default;
//$alert-success-text:          $state-success-text !default;
//$alert-success-border:        $state-success-border !default;
//
//$alert-info-bg:               $state-info-bg !default;
//$alert-info-text:             $state-info-text !default;
//$alert-info-border:           $state-info-border !default;
//
//$alert-warning-bg:            $state-warning-bg !default;
//$alert-warning-text:          $state-warning-text !default;
//$alert-warning-border:        $state-warning-border !default;
//
//$alert-danger-bg:             $state-danger-bg !default;
//$alert-danger-text:           $state-danger-text !default;
//$alert-danger-border:         $state-danger-border !default;
//
//
