@charset "UTF-8";
//mixins
@import "mixins/image";
@import "mixins/size";
@import "mixins/vendor-prefixes";

// Skins
@import "mixins/gradients";

// Layout
@import "mixins/clearfix";
@import "mixins/grid-framework";
@import "mixins/grid";

@import "functions/functions";
@import "normalize";
@import "vars";

//old by Kolia
@import "old";

html{
  font-size: $fs_base;
  position: relative;
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-family: 'Roboto', sans-serif;
//  background: url("../img/bg_2.jpg") no-repeat center;
//  background-size: cover;
  
}

h1{
  text-transform: uppercase;
  font-size: em(42);
  line-height: 1.3;
  color: #fff;
  margin: 0 0 1em;
  font-weight: 700;
}

b{
  font-weight: 700;
}
*{
  @include box-sizing(border-box);
}

.bBtn{
  display: inline-block;
  height: em(70);
  line-height: em(70);
  min-width: em(305);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #30a8d1;
  font-size: em(24);
  font-weight: 700;
  background: rgba(255, 255, 255, .6);
  $btnShadowColor: rgba(255, 255, 255, .9);
  box-shadow:
    /* Left Side */      /* Right Side */
    1px 0px 0px $btnShadowColor, 0px 1px 0px $btnShadowColor,
    2px 1px 0px $btnShadowColor, 1px 2px 0px $btnShadowColor,
    3px 2px 0px $btnShadowColor, 2px 3px 0px $btnShadowColor,
    4px 3px 0px $btnShadowColor, 3px 4px 0px $btnShadowColor,
    5px 4px 0px $btnShadowColor, 4px 5px 0px $btnShadowColor;
  /* etc */
  &.mContactsSent{
    text-transform: none;
    color: #fff;
    font-size: em(24);
    min-width: 0;
    font-weight: 700;
    border: em(2) solid #fff;
    border-radius: 2px;
    height: em(33);
    line-height: em(28);
    padding: 0 em(45);
    box-shadow: none;
    margin-top: em(20);
    background: none;
  }
}

.bIco{
  display: inline-block;
  margin: 0 em(10);
  @include square(em(74));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: em(2) solid #fff;
  vertical-align: middle;
}

.bBlockBottomShadow{
  position: absolute;
  left: 50%;
  bottom: em(120);
  @include translate(-50%,0);
  width: em(1183);
  height: em(88);
  background: url("../img/block_bottom_shadow.png") no-repeat center;
  background-size: contain;
  &.mPreloader{
    bottom:em(10);
  }

}
.textRight{
  text-align: right;
}

.bInputWrap{
  position: relative;
  margin-bottom: em(10);
  &.mWithIco{
    padding-left: 30px;
    .bTextInput{
      border-left: 0;
    }
  }
  &.mDateIco{
    .eInputWrap_ico{
      @include square(30px);
      position: absolute;
      top: 0;
      right: 0;
      line-height: 31px;
      text-align: center;
      color: #4d4d4d;
      font-size: 18px;
    }
  }
}
.bTextInput{
  display: block;
  width: 100%;
  padding: 0 em(20);
  outline: 0;
  border: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, .4);
  height: em(40);
  color: #fff;
  font-size: em(20);
  font-weight: 300;
  line-height: normal;
  //  border-radius: $g_border_radius;
  @include placeholder(#fff);
  &.mInline{
    display: inline-block;
  }
}
.bTextArea{
  display: block;
  @include placeholder(#fff);
  width: 100%;
  background: rgba(255, 255, 255, .4);
  padding: em(15) em(20);
  outline: 0;
  resize: vertical;
  color: #fff;
  font-size: em(20);
  border: 0;
  font-weight: 300;
  font-family: "Open Sans";
  min-height: em(140);
}
/*
NAV
*/
.bNav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: em(100);
  background: rgba(255,255,255,.6);
  z-index: 20;
  display: none;
  @include transition(all .3s ease);
  background: url("../img/menu_top_bg.png") no-repeat left -25%;
  &.active{
    width: em(292);
    background-position: left top;
//    background: url("../img/menu_bg_open.png") no-repeat center;
//    background-size: cover;
    .bLogo{
//      visibility: visible;
//      @include translate(0,0);
      height: em(102);
      width: em(186);
    }
    .eNavList_text{
      display: block;
      font-size: em(20);
      opacity: 1;
    }
    .bNavSocials{
      bottom: 0;
      left: em(15);
      margin-left: 0;
    }
    .eNav_btn{
      right: em(25);
      bottom: em(25);
      margin-right: 0;
      background-image: url("../img/ico_menu_close.png");
    }
    .eNav_shadow{
      width: em(309);
      background-image: url("../img/menu_shadow_open_2.png");
    }
    .bSubNavWrap{
      top: - em(179);
    }
    +.bContent{
      @include translate(em(292)/2,0);
      &.mNoTranslate{
        @include translate(0,0);
      }
    }
  }
  &.mVisible{
    @include transition(all .5s ease);
    display: block;
  }
}

.eNav_shadow{
  position: absolute;
  height: 100%;
  top: 0;
  right: -#{em(35)};
  width: em(116);
  background-image: url("../img/menu_shadow_close.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  z-index: 5;
  @include transition(all .3s ease);
}
.eNav_sideBorder{
  width: em(5);
  height: 100%;
  position: absolute;
//  right: -#{em(5)};
  opacity: .7;
  top: 0;
  right: 0;
  background-image: url("../img/menu_side_bg.png");
  background-repeat: repeat-y;
  background-size: contain;
}

//logo
.bLogo{
  display: block;
//  visibility: hidden;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
  height: em(44);
  width: em(80);
  margin: em(25) auto em(50);
//  @include translate(-100%,0);
  @include transition(all .3s ease);
}

//main nav
.bNavList{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
  >li{
    margin: 0;
    padding-right: em(5);
    &.active{
      >a{
        color: #333333;
        position: relative;
        &:after{
          position: absolute;
          right: 0;
          top: 50%;
          margin-right: - em(5);
          margin-top: - em(20);
          content: '';
          display: block;
          @include square(0);
          border-width: em(20);
          border-style: solid;
          border-color: transparent rgba(58,87,116,.8) transparent transparent;
        }
      }
      .bSubNavWrap{
        display: block;
      }

    }
    >a{
      display: block;
      text-decoration: none;
      padding: em(13) 0 em(8);
      color: #FFF;
      text-align: center;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      @include transition(all .3s ease);
      &:hover{
        border-color: rgba(255,255,255,.4);
        background: rgba(255,255,255,.2);
      }

    }
  }

}
.eNavList_ico{
  width: em(42);
  height: em(42);
  margin: 0 auto em(7);
//  background: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.mHome{
    background-image: url("../img/ico_menu_home.png");
  }
  &.mProducts{
    background-image: url("../img/ico_menu_products.png");
  }
  &.mPromo{
    background-image: url("../img/ico_menu_promo.png");
  }
  &.mNews{
    background-image: url("../img/ico_menu_news.png");
  }
  &.mAbout{
    background-image: url("../img/ico_menu_partners.png");
  }
  &.mContacts{
    background-image: url("../img/ico_menu_contacts.png");
  }
}
.eNavList_text{
  font-weight: 300;
  font-size: 0;
  text-transform: uppercase;
  @include transition(all .3s ease);
  opacity: 0;
//  display: none;
}
//sub nav
.bSubNavWrap{
  display: none;
  position: absolute;
  top: - em(119);
  left: 100%;
  height: 100%;
  width: em(260);
  background: rgba(58,87,116,.8);
  @include transition(all .3s ease)
}
.bSubNavList{
  list-style: none;
  padding: 0;
  margin: em(180) 0 0;
  >li{
    display: block;
    &.active{
      a{
        background: #00a8e1;
      }
    }
  }
  a{
    display: block;
    height: em(44);
    line-height: em(44);
    font-size: em(22);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 em(40);
    font-weight: 300;
    &:hover{
      background: #00a8e1;
    }
  }
}
.eNav_btn{
  position: absolute;
  z-index: 10;
  right: 50%;
  margin-right: -#{em(40)/2};
  bottom: em(25);
  @include square(em(40));
//  background: #000000;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/ico_menu_open.png");
}

.bNavSocials{
  @include transition(all .3s ease);
  position: absolute;
  left: 50%;
  margin-left: -#{em(26)/2};
  bottom: em(70);
  z-index: 10;
}
.eNavSocials{
  display: block;
  @include square(em(26));
//  background: #000;
  margin-bottom: em(18);
  background-repeat: no-repeat;
//  background-size: cover;
  background-position: center;
  &.mFB{
    background-image: url("../img/ico_fb.png");
  }
  &.mVK{
    background-image: url("../img/ico_vk.png");
  }
  &.mTW{
    background-image: url("../img/ico_tw.png");
  }
  &.mIG{
    background-image: url("../img/ico_ig.png");
  }
  &.mYT{
    background-image: url("../img/ico_yt.png");
  }
}
/*
CONTENT
*/

.bContent{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  @include translate(0,0);
  @include transition(all .5s ease);
  @include clearfix();


}

.bStartDegustaion{
  position: absolute;
  right: 0;
  top: 0;

  z-index: 20;
  display: block;
  text-decoration: none;
  @include size(em(206),em(200));
  background: url("../img/ico_start_degustation.png") no-repeat center;
  background-size: cover;
}
.eStartDegustaion{
  display: block;
  text-decoration: none;
  @include size(em(112),em(123));
  cursor: pointer;
}

.bBottleImg{
  position: absolute;
  bottom: 0;
  left: 50%;
  @include translate(-50%,0);
  width: em(1100);
  height: em(1000);
  z-index: 20;
//display: none;
  img{
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.bParallax{
    position: relative;
    height: 100%;
  margin-left: - em(145);
    img{
      display: inline-block;
      max-width: 100%;
      height: auto;
      position: relative;
    }
}
.eParallax_img{
//  position: absolute;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-repeat: no-repeat;
  &.m3{
    margin-top: em(80);
    text-align: right;
    z-index: 15;
//    background-image: url("../img/parallax_drops_3.png");
  }
  &.m2{
    text-align: right;
    margin-top: em(10);
//    background-image: url("../img/parallax_drops_2.png");
    z-index: 25;
  }
  &.m1{
    margin-top: em(550);
    z-index: 30;
    img{
      right: - em(100);
    }
//    background-image: url("../img/parallax_drops_1.png");
  }
}

.bBg{
  position: absolute;
  left: 0;
  top: 0;
  @include square(100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-color: #649fbe;
  &.mPreloader{
    background-image: url("../img/bg_preloader.jpg");
  }
}

.bBottleWithCap{
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%,-50%);
  @include size(em(110),em(354));
  margin-top:- em(71);
}
.eBottleWithCap_cap{
  position: absolute;
  top: -300%;
  left: em(14);
  @include size(em(77),em(72))

}

.bBottomLinks{
  position: absolute;
  right: 0;
  bottom: em(20);
  white-space: nowrap;

}
.eBottomLinks{
  display: inline-block;
  color: #999999;
  text-decoration: none;
  margin-right: em(40);
  font-weight: 300;
  font-size: em(14px);
  vertical-align: top;
  &.m1{
    width: em(109);
  }
  &.m2{
    width: em(121);
  }
  a{
    text-decoration: none;
    color: #999999;
  }
}

.bTextBlock{
  width:50%;
  float: left;
  height: 100%;
  background: #649fbe;
  color: #FFF;

  font-weight: 300;
  padding: em(150) em(100) 0 em(300);

  p{
    font-size: em(30);
    font-weight: 300;
  }
}
.eTextBlock_heading{
  font-size: em(48);
}

.bTextBlockBg{
  width: 50%;
  float: left;
  height: 100%;
  background: url("../img/about_brand_bg.jpg") no-repeat -1px top;
  background-size: cover;
}

.bLikeThis{
  margin-top: em(50);
  text-align: center;
}
.eLikeThis{
  display: inline-block;
  margin: 0 em(10);
  @include square(em(74));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.mFB{
    background-image: url("../img/ico_facebook_like.png");
  }
  &.mHeart{
    background-image: url("../img/ico_heart.png");
  }
}
/*
preloader page
*/
.bPreloaderHeading{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: em(150);
  text-align: center;
//  @include translate(-50%,0)
}
.bPreloaderBottle{
  width: em(110);
  height: em(354);
  margin-top:- em(71);
}
.bPreloaderDrop_1{
  width: em(83);
  height: em(94);
}
.bPreloaderDrop_2{
  width: em(63);
  height: em(60);
}
.mImgResponsive{
  display: block;
  width: 100%;
  height: auto;
}

#pass{
  color: #fff;
}

/*
contacts page
*/
.bContactsWrap{
  position: absolute;
  left: 50%;
  top: 50%;
  @include translate(-50%,-50%);
  z-index: 20;
  width: em(970);
}
.bContactsHeading{
  margin-bottom: em(5);
}
.bContacts{
  margin-bottom: em(60);
  @include clearfix();
  background: rgba(255, 255, 255, .15);
  position: relative;
  padding: em(1) em(10) 0 em(2);
  width: em(970);
  height: em(340);
  background: url("../img/contacts_block_bg.png") no-repeat left top;
  background-size: cover;
}
.eContacts_col{
  float: left;
  width: 50%;
  height: em(330);
  padding: em(40) em(40) em(20) em(40);
  &:first-child{
    border-right: 1px solid #fff;
  }
}
.bContactsSocial{
  text-align: center;

}
/*
news page
*/
.bNews{
  @include clearfix();
  @include square(100%);
  overflow-y: auto;
}

//full news view
.bNewsView{
  display: none;
//  float: left;
//  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  width: 60%;
  background: #649fbe;
  min-height: 100%;
  padding: 0 em(80) 0  em(350);
  &.mShow{
    display: block;
    +.bNewsItemWrap{
      width: 40%;
      float: right;
      padding: em(100) em(40) em(100) em(40);
      .bNewsItem{
        width: 48%;
      }
    }
  }
}
.eNewsView_close{
  position: absolute;
  right: em(20);
  top: em(20);
  cursor: pointer;
  .bIco{
    @include square(em(42));
  }
}
.eNewsView_img{
  text-align: center;
}
.eNewsView_header{
  margin: em(30) 0;
  position: relative;
  padding: 0 0 0 em(100);
  &.mNoIco{
    padding: 0;
    .eNewsView_headerIco{
      display: none;
    }
  }

}
.eNewsView_headerIco{
  position: absolute;
  left: 0;
  top: 0;
  .bIco{
    @include square(em(70))
  }
}
.eNewsView_heading{
  font-size: em(45);
  line-height: .9;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.eNewsView_date{
  font-weight: 700;
  font-size: em(33);
  color: #a4ebff;
}
.eNewsView_content{
  color: #fff;
  font-weight: 300;
  font-size: em(22);
  p{
    margin: 0 0 em(15);
  }
}
.eNewsView_footer{
  padding-top: em(25);
  text-align: center;
  .bIco{
    @include square(em(50));
  }
}

//grid news view
.bNewsItemWrap{
  padding: em(100) em(40) em(100) em(240);
}
.bNewsItem{

  width: 18%;
  margin: 0 1% 2%;
  background: rgba(255, 255, 255, .25);
  box-shadow:
    /* left */           /* bottom */
    1px 0px 0px #d5f5fa, 0px 1px 0px #a5ccdc,
    2px 1px 0px #c1eaf3, 1px 2px 0px #9bc7da,
    3px 2px 0px #b2ddea, 2px 3px 0px #93c6d8,
    4px 3px 0px #a2cee0, 3px 4px 0px #93c4d8,
    5px 4px 0px #b3d2dd, 4px 5px 0px #93c4d8,
    5px 5px 5px rgba(0,0,0,.4), inset 2px 2px 2px #cfdee7;
  &.mSubscribe{
    .eNewsItem_content{
      padding: em(20) em(20) em(38);
    }
    .bTextInput{
      height: em(40);
    }
    .mContactsSent{
      display: block;
      margin: em(30) auto 0;
      padding: 0 em(16);

    }
  }
}
.eNewsItem_header{
  @include clearfix();
  position: relative;
  padding: em(20) em(150) em(20) em(20);
  border-bottom: em(1) solid #c5d6e3;
  min-height: em(107);
  .bIco{
    position: absolute;
    right: em(28);
    top: em(24);
    margin: 0;
    @include square(em(60));
  }
}
.eNewsItem_headerText{
  font-size: em(18);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.eNewsItem_img{
  overflow: hidden;
}
.eNewsItem_content{
  padding: em(20) em(10) em(10) em(20);
}
.eNewsItem_text{
  margin-top: em(15);
  font-weight: 300;
  font-size: em(16);
  p{
    margin: 0 0 em(15);
  }
}
.eNewsItem_dateWrap{
  .bIco{
    @include square(em(34));
    margin: 0 em(10) 0 0;
  }
}
.eNewsItem_date{
  display: inline-block;
  vertical-align: middle;
  font-size: em(33);
  line-height: em(34);
  font-weight: 700;
  color: #666666;
  white-space: nowrap;
}
.eNewsItem_footer{
  border-top: em(1) solid #c5d6e3;
  padding: em(9) 0;
  text-align: right;
  .bIco{
    @include square(em(34));
    margin: 0 em(6) 0 0;
  }
}

/*
INTRO PAGE
*/
.bIntroQR{
  position: absolute;
  top: em(90);
  right: em(280);
  width: em(320);
  padding: em(40) em(35);
  color: #fff;
  background: rgba(255, 255, 255, .25);
  box-shadow:
    /* left */           /* bottom */
    1px 0px 0px #d5f5fa, 0px 1px 0px #a5ccdc,
    2px 1px 0px #c1eaf3, 1px 2px 0px #9bc7da,
    3px 2px 0px #b2ddea, 2px 3px 0px #93c6d8,
    4px 3px 0px #a2cee0, 3px 4px 0px #93c4d8,
    5px 4px 0px #b3d2dd, 4px 5px 0px #93c4d8,
    5px 5px 5px rgba(0,0,0,.4), inset 2px 2px 2px #cfdee7;
  &.mStatView{
    height: em(700);
  }
  .bTextInput{
    height: em(32);
  }
}
.eIntroQR_statusIco{
  margin: em(90) 0 em(80);
}
.eIntroQR_statusText{
  font-size: em(28);
  text-transform: uppercase;
  font-weight: 300;
}
.eIntroQR_headText{
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: em(10);
  font-size: em(16);
}

.eIntroQR_enterCodeText{
  font-weight: 300;
  margin-bottom: em(10);
}
.eIntroQR_qr{
  margin: em(40) 0;
  canvas{
    display: block;
    width: 100%;
    height: auto;
  }
}
.eIntroQR_helpText{
  font-size: em(12);

}

.eIntroQR_shadow{
  position: absolute;
  left: 50%;
  bottom: - em(200);
  @include translate(-50%,0);
  @include size(em(485),em(62));
  background: url("../img/shadow_intro_page_qr.png") no-repeat center;
  background-size: contain;
}


.mUpperCase{
  text-transform: uppercase;
}


/*///////////////////////////////*/
.ani {
  position: absolute;
  height: em(550);
  width: em(500);
  bottom: em(180);
  left: em(640);
}

.ani img {
  position: absolute;
}

#korzinka {
  bottom: 0;
}

#front {
  bottom: 18px;
  left: 13px;
}

#bottle1 {
  left: 46px;
  bottom: 60px;
}

#bottle2 {
  left: 183px;
  bottom: 80px;
}

#bottle3 {
  left: 320px;
  bottom: 102px;
}