/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

#arrow {
  position: absolute;
  font-size: 100pt;
}

#maindiv {
  width: 100% !important;
  height: 100% !important;
}

#hint {
  position: absolute;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}

/*.jsMovieFrame {
 background-position: top center !important;
 background-size: cover !important;
 width: 100% !important;
 height: 100% !important;
}   */
/* ------------ REMOTE WINDOW ------------- */
#enter-code {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 30px;
  padding: 20px 60px;
}
#enter-code input[type="text"] {
  background: none;
  border: none;
  border: 1px white solid;
  padding: 6px;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 100%;
}
#enter-code input:focus, #enter-code form:focus, #enter-code div:focus {
  outline: none;
}
#enter-code input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  color: #34537e;
  border: none;
  font-size: 20px;
  padding: 6px;
  width: 100%;
  margin-top: 10px;
}

#preloader {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drop1 {
  /*width: 81px;
  height: 93px;*/
  background: url(img/drop-1.png);
  position: absolute;
  /*top: 20px;
  left: 100px;*/
}

.drop2 {
  /*width: 73px;
  height: 69px;*/
  background: url(img/drop-2.png);
  position: absolute;
  top: 60px;
  left: 900px;
}

#pass {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 30px 10px;
  display: block;
}

#out {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 30px 10px;
}

#pass a.bb {
  font-size: 14px;
  color: white;
  border: 1px white solid;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  display: block;
  word-break: break-all;
}

#pass canvas {
  border: 1px white solid;
  background: none repeat scroll 0% 0% white;
}

#introplay, #milktoglass, .jsMovieFrame {
  height: 100% !important;
}

#introplay, #milktoglass {
  width: 100% !important;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}

#pass, #out, #messages {
  position: absolute;
  right: 0px;
}

html {
  font-size: 16px;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 2.625em;
  line-height: 1.3;
  color: #fff;
  margin: 0 0 1em;
  font-weight: 700;
}

b {
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bBtn {
  display: inline-block;
  height: 4.375em;
  line-height: 4.375em;
  min-width: 19.0625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #30a8d1;
  font-size: 1.5em;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.9), 2px 1px 0px rgba(255, 255, 255, 0.9), 1px 2px 0px rgba(255, 255, 255, 0.9), 3px 2px 0px rgba(255, 255, 255, 0.9), 2px 3px 0px rgba(255, 255, 255, 0.9), 4px 3px 0px rgba(255, 255, 255, 0.9), 3px 4px 0px rgba(255, 255, 255, 0.9), 5px 4px 0px rgba(255, 255, 255, 0.9), 4px 5px 0px rgba(255, 255, 255, 0.9);
  /* etc */
}
.bBtn.mContactsSent {
  text-transform: none;
  color: #fff;
  font-size: 1.5em;
  min-width: 0;
  font-weight: 700;
  border: 0.125em solid white;
  border-radius: 2px;
  height: 2.0625em;
  line-height: 1.75em;
  padding: 0 2.8125em;
  box-shadow: none;
  margin-top: 1.25em;
  background: none;
}

.bIco {
  display: inline-block;
  margin: 0 0.625em;
  width: 4.625em;
  height: 4.625em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 0.125em solid white;
  vertical-align: middle;
}

.bBlockBottomShadow {
  position: absolute;
  left: 50%;
  bottom: 7.5em;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 73.9375em;
  height: 5.5em;
  background: url("../img/block_bottom_shadow.png") no-repeat center;
  background-size: contain;
}
.bBlockBottomShadow.mPreloader {
  bottom: 0.625em;
}

.textRight {
  text-align: right;
}

.bInputWrap {
  position: relative;
  margin-bottom: 0.625em;
}
.bInputWrap.mWithIco {
  padding-left: 30px;
}
.bInputWrap.mWithIco .bTextInput {
  border-left: 0;
}
.bInputWrap.mDateIco .eInputWrap_ico {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 31px;
  text-align: center;
  color: #4d4d4d;
  font-size: 18px;
}

.bTextInput {
  display: block;
  width: 100%;
  padding: 0 1.25em;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.4);
  height: 2.5em;
  color: #fff;
  font-size: 1.25em;
  font-weight: 300;
  line-height: normal;
}
.bTextInput::-moz-placeholder {
  color: white;
  opacity: 1;
}
.bTextInput:-ms-input-placeholder {
  color: white;
}
.bTextInput::-webkit-input-placeholder {
  color: white;
}
.bTextInput.mInline {
  display: inline-block;
}

.bTextArea {
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.9375em 1.25em;
  outline: 0;
  resize: vertical;
  color: #fff;
  font-size: 1.25em;
  border: 0;
  font-weight: 300;
  font-family: "Open Sans";
  min-height: 8.75em;
}
.bTextArea::-moz-placeholder {
  color: white;
  opacity: 1;
}
.bTextArea:-ms-input-placeholder {
  color: white;
}
.bTextArea::-webkit-input-placeholder {
  color: white;
}

/*
NAV
*/
.bNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.25em;
  background: rgba(255, 255, 255, 0.6);
  z-index: 20;
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../img/menu_top_bg.png") no-repeat left -25%;
}
.bNav.active {
  width: 18.25em;
  background-position: left top;
}
.bNav.active .bLogo {
  height: 6.375em;
  width: 11.625em;
}
.bNav.active .eNavList_text {
  display: block;
  font-size: 1.25em;
  opacity: 1;
}
.bNav.active .bNavSocials {
  bottom: 0;
  left: 0.9375em;
  margin-left: 0;
}
.bNav.active .eNav_btn {
  right: 1.5625em;
  bottom: 1.5625em;
  margin-right: 0;
  background-image: url("../img/ico_menu_close.png");
}
.bNav.active .eNav_shadow {
  width: 19.3125em;
  background-image: url("../img/menu_shadow_open_2.png");
}
.bNav.active .bSubNavWrap {
  top: -11.1875em;
}
.bNav.active + .bContent {
  -webkit-transform: translate(9.125em, 0);
  -ms-transform: translate(9.125em, 0);
  -o-transform: translate(9.125em, 0);
  transform: translate(9.125em, 0);
}
.bNav.active + .bContent.mNoTranslate {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.bNav.mVisible {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}

.eNav_shadow {
  position: absolute;
  height: 100%;
  top: 0;
  right: -2.1875em;
  width: 7.25em;
  background-image: url("../img/menu_shadow_close.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eNav_sideBorder {
  width: 0.3125em;
  height: 100%;
  position: absolute;
  opacity: .7;
  top: 0;
  right: 0;
  background-image: url("../img/menu_side_bg.png");
  background-repeat: repeat-y;
  background-size: contain;
}

.bLogo {
  display: block;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
  height: 2.75em;
  width: 5em;
  margin: 1.5625em auto 3.125em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bNavList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}
.bNavList > li {
  margin: 0;
  padding-right: 0.3125em;
}
.bNavList > li.active > a {
  color: #333333;
  position: relative;
}
.bNavList > li.active > a:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -0.3125em;
  margin-top: -1.25em;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 1.25em;
  border-style: solid;
  border-color: transparent rgba(58, 87, 116, 0.8) transparent transparent;
}
.bNavList > li.active .bSubNavWrap {
  display: block;
}
.bNavList > li > a {
  display: block;
  text-decoration: none;
  padding: 0.8125em 0 0.5em;
  color: #FFF;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bNavList > li > a:hover {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
}

.eNavList_ico {
  width: 2.625em;
  height: 2.625em;
  margin: 0 auto 0.4375em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.eNavList_ico.mHome {
  background-image: url("../img/ico_menu_home.png");
}
.eNavList_ico.mProducts {
  background-image: url("../img/ico_menu_products.png");
}
.eNavList_ico.mPromo {
  background-image: url("../img/ico_menu_promo.png");
}
.eNavList_ico.mNews {
  background-image: url("../img/ico_menu_news.png");
}
.eNavList_ico.mAbout {
  background-image: url("../img/ico_menu_partners.png");
}
.eNavList_ico.mContacts {
  background-image: url("../img/ico_menu_contacts.png");
}

.eNavList_text {
  font-weight: 300;
  font-size: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.bSubNavWrap {
  display: none;
  position: absolute;
  top: -7.4375em;
  left: 100%;
  height: 100%;
  width: 16.25em;
  background: rgba(58, 87, 116, 0.8);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bSubNavList {
  list-style: none;
  padding: 0;
  margin: 11.25em 0 0;
}
.bSubNavList > li {
  display: block;
}
.bSubNavList > li.active a {
  background: #00a8e1;
}
.bSubNavList a {
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  font-size: 1.375em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0 2.5em;
  font-weight: 300;
}
.bSubNavList a:hover {
  background: #00a8e1;
}

.eNav_btn {
  position: absolute;
  z-index: 10;
  right: 50%;
  margin-right: -1.25em;
  bottom: 1.5625em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/ico_menu_open.png");
}

.bNavSocials {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  margin-left: -0.8125em;
  bottom: 4.375em;
  z-index: 10;
}

.eNavSocials {
  display: block;
  width: 1.625em;
  height: 1.625em;
  margin-bottom: 1.125em;
  background-repeat: no-repeat;
  background-position: center;
}
.eNavSocials.mFB {
  background-image: url("../img/ico_fb.png");
}
.eNavSocials.mVK {
  background-image: url("../img/ico_vk.png");
}
.eNavSocials.mTW {
  background-image: url("../img/ico_tw.png");
}
.eNavSocials.mIG {
  background-image: url("../img/ico_ig.png");
}
.eNavSocials.mYT {
  background-image: url("../img/ico_yt.png");
}

/*
CONTENT
*/
.bContent {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.bContent:before, .bContent:after {
  content: " ";
  display: table;
}
.bContent:after {
  clear: both;
}

.bStartDegustaion {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  display: block;
  text-decoration: none;
  width: 12.875em;
  height: 12.5em;
  background: url("../img/ico_start_degustation.png") no-repeat center;
  background-size: cover;
}

.eStartDegustaion {
  display: block;
  text-decoration: none;
  width: 7em;
  height: 7.6875em;
  cursor: pointer;
}

.bBottleImg {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 68.75em;
  height: 62.5em;
  z-index: 20;
}
.bBottleImg img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.bParallax {
  position: relative;
  height: 100%;
  margin-left: -9.0625em;
}
.bParallax img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.eParallax_img.m3 {
  margin-top: 5em;
  text-align: right;
  z-index: 15;
}
.eParallax_img.m2 {
  text-align: right;
  margin-top: 0.625em;
  z-index: 25;
}
.eParallax_img.m1 {
  margin-top: 34.375em;
  z-index: 30;
}
.eParallax_img.m1 img {
  right: -6.25em;
}

.bBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-color: #649fbe;
}
.bBg.mPreloader {
  background-image: url("../img/bg_preloader.jpg");
}

.bBottleWithCap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6.875em;
  height: 22.125em;
  margin-top: -4.4375em;
}

.eBottleWithCap_cap {
  position: absolute;
  top: -300%;
  left: 0.875em;
  width: 4.8125em;
  height: 4.5em;
}

.bBottomLinks {
  position: absolute;
  right: 0;
  bottom: 1.25em;
  white-space: nowrap;
}

.eBottomLinks {
  display: inline-block;
  color: #999999;
  text-decoration: none;
  margin-right: 2.5em;
  font-weight: 300;
  font-size: 0.875em;
  vertical-align: top;
}
.eBottomLinks.m1 {
  width: 6.8125em;
}
.eBottomLinks.m2 {
  width: 7.5625em;
}
.eBottomLinks a {
  text-decoration: none;
  color: #999999;
}

.bTextBlock {
  width: 50%;
  float: left;
  height: 100%;
  background: #649fbe;
  color: #FFF;
  font-weight: 300;
  padding: 9.375em 6.25em 0 18.75em;
}
.bTextBlock p {
  font-size: 1.875em;
  font-weight: 300;
}

.eTextBlock_heading {
  font-size: 3em;
}

.bTextBlockBg {
  width: 50%;
  float: left;
  height: 100%;
  background: url("../img/about_brand_bg.jpg") no-repeat -1px top;
  background-size: cover;
}

.bLikeThis {
  margin-top: 3.125em;
  text-align: center;
}

.eLikeThis {
  display: inline-block;
  margin: 0 0.625em;
  width: 4.625em;
  height: 4.625em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.eLikeThis.mFB {
  background-image: url("../img/ico_facebook_like.png");
}
.eLikeThis.mHeart {
  background-image: url("../img/ico_heart.png");
}

/*
preloader page
*/
.bPreloaderHeading {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 9.375em;
  text-align: center;
}

.bPreloaderBottle {
  width: 6.875em;
  height: 22.125em;
  margin-top: -4.4375em;
}

.bPreloaderDrop_1 {
  width: 5.1875em;
  height: 5.875em;
}

.bPreloaderDrop_2 {
  width: 3.9375em;
  height: 3.75em;
}

.mImgResponsive {
  display: block;
  width: 100%;
  height: auto;
}

#pass {
  color: #fff;
}

/*
contacts page
*/
.bContactsWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 60.625em;
}

.bContactsHeading {
  margin-bottom: 0.3125em;
}

.bContacts {
  margin-bottom: 3.75em;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
  padding: 0.0625em 0.625em 0 0.125em;
  width: 60.625em;
  height: 21.25em;
  background: url("../img/contacts_block_bg.png") no-repeat left top;
  background-size: cover;
}
.bContacts:before, .bContacts:after {
  content: " ";
  display: table;
}
.bContacts:after {
  clear: both;
}

.eContacts_col {
  float: left;
  width: 50%;
  height: 20.625em;
  padding: 2.5em 2.5em 1.25em 2.5em;
}
.eContacts_col:first-child {
  border-right: 1px solid #fff;
}

.bContactsSocial {
  text-align: center;
}

/*
news page
*/
.bNews {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.bNews:before, .bNews:after {
  content: " ";
  display: table;
}
.bNews:after {
  clear: both;
}

.bNewsView {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 60%;
  background: #649fbe;
  min-height: 100%;
  padding: 0 5em 0 21.875em;
}
.bNewsView.mShow {
  display: block;
}
.bNewsView.mShow + .bNewsItemWrap {
  width: 40%;
  float: right;
  padding: 6.25em 2.5em 6.25em 2.5em;
}
.bNewsView.mShow + .bNewsItemWrap .bNewsItem {
  width: 48%;
}

.eNewsView_close {
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  cursor: pointer;
}
.eNewsView_close .bIco {
  width: 2.625em;
  height: 2.625em;
}

.eNewsView_img {
  text-align: center;
}

.eNewsView_header {
  margin: 1.875em 0;
  position: relative;
  padding: 0 0 0 6.25em;
}
.eNewsView_header.mNoIco {
  padding: 0;
}
.eNewsView_header.mNoIco .eNewsView_headerIco {
  display: none;
}

.eNewsView_headerIco {
  position: absolute;
  left: 0;
  top: 0;
}
.eNewsView_headerIco .bIco {
  width: 4.375em;
  height: 4.375em;
}

.eNewsView_heading {
  font-size: 2.8125em;
  line-height: .9;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.eNewsView_date {
  font-weight: 700;
  font-size: 2.0625em;
  color: #a4ebff;
}

.eNewsView_content {
  color: #fff;
  font-weight: 300;
  font-size: 1.375em;
}
.eNewsView_content p {
  margin: 0 0 0.9375em;
}

.eNewsView_footer {
  padding-top: 1.5625em;
  text-align: center;
}
.eNewsView_footer .bIco {
  width: 3.125em;
  height: 3.125em;
}

.bNewsItemWrap {
  padding: 6.25em 2.5em 6.25em 15em;
}

.bNewsItem {
  width: 18%;
  margin: 0 1% 2%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 0px 0px #d5f5fa, 0px 1px 0px #a5ccdc, 2px 1px 0px #c1eaf3, 1px 2px 0px #9bc7da, 3px 2px 0px #b2ddea, 2px 3px 0px #93c6d8, 4px 3px 0px #a2cee0, 3px 4px 0px #93c4d8, 5px 4px 0px #b3d2dd, 4px 5px 0px #93c4d8, 5px 5px 5px rgba(0, 0, 0, 0.4), inset 2px 2px 2px #cfdee7;
}
.bNewsItem.mSubscribe .eNewsItem_content {
  padding: 1.25em 1.25em 2.375em;
}
.bNewsItem.mSubscribe .bTextInput {
  height: 2.5em;
}
.bNewsItem.mSubscribe .mContactsSent {
  display: block;
  margin: 1.875em auto 0;
  padding: 0 1em;
}

.eNewsItem_header {
  position: relative;
  padding: 1.25em 9.375em 1.25em 1.25em;
  border-bottom: 0.0625em solid #c5d6e3;
  min-height: 6.6875em;
}
.eNewsItem_header:before, .eNewsItem_header:after {
  content: " ";
  display: table;
}
.eNewsItem_header:after {
  clear: both;
}
.eNewsItem_header .bIco {
  position: absolute;
  right: 1.75em;
  top: 1.5em;
  margin: 0;
  width: 3.75em;
  height: 3.75em;
}

.eNewsItem_headerText {
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.eNewsItem_img {
  overflow: hidden;
}

.eNewsItem_content {
  padding: 1.25em 0.625em 0.625em 1.25em;
}

.eNewsItem_text {
  margin-top: 0.9375em;
  font-weight: 300;
  font-size: 1em;
}
.eNewsItem_text p {
  margin: 0 0 0.9375em;
}

.eNewsItem_dateWrap .bIco {
  width: 2.125em;
  height: 2.125em;
  margin: 0 0.625em 0 0;
}

.eNewsItem_date {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.0625em;
  line-height: 2.125em;
  font-weight: 700;
  color: #666666;
  white-space: nowrap;
}

.eNewsItem_footer {
  border-top: 0.0625em solid #c5d6e3;
  padding: 0.5625em 0;
  text-align: right;
}
.eNewsItem_footer .bIco {
  width: 2.125em;
  height: 2.125em;
  margin: 0 0.375em 0 0;
}

/*
INTRO PAGE
*/
.bIntroQR {
  position: absolute;
  top: 5.625em;
  right: 17.5em;
  width: 20em;
  padding: 2.5em 2.1875em;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 0px 0px #d5f5fa, 0px 1px 0px #a5ccdc, 2px 1px 0px #c1eaf3, 1px 2px 0px #9bc7da, 3px 2px 0px #b2ddea, 2px 3px 0px #93c6d8, 4px 3px 0px #a2cee0, 3px 4px 0px #93c4d8, 5px 4px 0px #b3d2dd, 4px 5px 0px #93c4d8, 5px 5px 5px rgba(0, 0, 0, 0.4), inset 2px 2px 2px #cfdee7;
}
.bIntroQR.mStatView {
  height: 43.75em;
}
.bIntroQR .bTextInput {
  height: 2em;
}

.eIntroQR_statusIco {
  margin: 5.625em 0 5em;
}

.eIntroQR_statusText {
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: 300;
}

.eIntroQR_headText {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.625em;
  font-size: 1em;
}

.eIntroQR_enterCodeText {
  font-weight: 300;
  margin-bottom: 0.625em;
}

.eIntroQR_qr {
  margin: 2.5em 0;
}
.eIntroQR_qr canvas {
  display: block;
  width: 100%;
  height: auto;
}

.eIntroQR_helpText {
  font-size: 0.75em;
}

.eIntroQR_shadow {
  position: absolute;
  left: 50%;
  bottom: -12.5em;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 30.3125em;
  height: 3.875em;
  background: url("../img/shadow_intro_page_qr.png") no-repeat center;
  background-size: contain;
}

.mUpperCase {
  text-transform: uppercase;
}

/*///////////////////////////////*/
.ani {
  position: absolute;
  height: 34.375em;
  width: 31.25em;
  bottom: 11.25em;
  left: 40em;
}

.ani img {
  position: absolute;
}

#korzinka {
  bottom: 0;
}

#front {
  bottom: 18px;
  left: 13px;
}

#bottle1 {
  left: 46px;
  bottom: 60px;
}

#bottle2 {
  left: 183px;
  bottom: 80px;
}

#bottle3 {
  left: 320px;
  bottom: 102px;
}
