.bBottomLinks
    span.eBottomLinks: | Premialle © 2014 Всі права захищені.
    span.eBottomLinks
        | Зворотній зв'язок:
        a(href='#')
        | info@premialle.ua
    span.eBottomLinks: | Гаряча лінія: 0 800 503 477
    span.eBottomLinks.m1
        img.mImgResponsive(src="img/logos/logo_inter_food.png",alt="")
    //span.eBottomLinks.m2
        img.mImgResponsive(src="img/logos/logo_terra_food.png",alt="")