meta(charset='UTF-8')

title:|Premiale

meta(name="description", content="")
meta(name="keywords", content="")
meta(name="author", content="")
meta(name="copyright", content="(c)")
meta(http-equiv="Reply-to", content="e-mail")

//link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')

//styles
link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&subset=latin,cyrillic-ext')
link(rel='stylesheet',href='css/styles.css')
//js
script(src='js/jquery-1.11.0.min.js')
script(src='js/jquery.qrcode-0.7.0.min.js')
script(src='js/RemoteController.js')