script(src='js/jquery.jsmovie.1.4.4.min.js')
script(src='js/preloaderparallax.js')
script(src='js/preloadermain.js')

script(src='js/jquery.parallax.min.js')

script(src='js/isotope.pkgd.min.js')
script(src='js/app.js')

script(src='js/stages.js')
script(src='js/intro.js')



