nav.bNav

    //logo
    a.bLogo(href='')
    //#logo
    //nav links
    ul.bNavList
        // для отображения суб меню добавить li класс active
        li
            a(href='')
                .eNavList_ico.mHome
                .eNavList_text Головна
        li
            a(href='')
                .eNavList_ico.mProducts
                .eNavList_text Продукція
            // нужно блоку bSubNavWrap задавать высоту окна
            .bSubNavWrap
                ul.bSubNavList
                    - var helpItems = ['молоко','Ряжанка','кефір','біо-кефір','сметана','термостат','сир зернистий','фета','бринза','вершки','шейки']
                    - each item, i in helpItems
                        li
                            a(href='#'):| #{item}
        li
            a(href='')
                .eNavList_ico.mPromo
                .eNavList_text Промо
        li
            a(href='')
                .eNavList_ico.mNews
                .eNavList_text Новини
        li
            a(href='')
                .eNavList_ico.mAbout
                .eNavList_text Про бренд
        li
            a(href='')
                .eNavList_ico.mContacts
                .eNavList_text Контакти
    //#nav links
    //nav socials
    .bNavSocials
        a.eNavSocials.mFB(href='')
        a.eNavSocials.mVK(href='')
        a.eNavSocials.mTW(href='')
        a.eNavSocials.mIG(href='')
        a.eNavSocials.mYT(href='')
    //#nav socials
    //nav btn
    .eNav_btn
    //#nav btn
    //shadow & border
    .eNav_shadow
    .eNav_sideBorder
    //#shadow & border
