html, body {
 height: 100%;
 padding: 0px;
 margin: 0px;
}

body {
 font-family: Helvetica, Arial, sans-serif;
 background: #80bef1;
}

#arrow 
{
 position:absolute; 
 font-size: 100pt;
}

#maindiv
{ 
 width: 100% !important;;
 height: 100% !important;;
}

#hint
{
 position: absolute; 
}

.jsMovieFrame {
 width: 100% !important;
 background-size: contain !important;
 background-position: center !important;
}

/*.jsMovieFrame {
 background-position: top center !important;
 background-size: cover !important;
 width: 100% !important;
 height: 100% !important; 
}   */
   
/* ------------ REMOTE WINDOW ------------- */
#enter-code {
	background: rgba(0,0,0,.2);
	text-align: center;
	margin: 30px;
	padding: 20px 60px;
}
	
input[type="text"] {
	background: none;
	border: none;
	border: 1px white solid;
	padding: 6px;
	text-align: center;
	color: white;
	font-size: 20px;
	width: 100%;
}

input:focus, form:focus, div:focus {
	outline: none;
}

input[type="submit"] {
	-webkit-appearance: none;
	appearance: none;
	background: white;
	color: #34537e;
	border: none;
	font-size: 20px;
	padding: 6px;
	width: 100%;
	margin-top: 10px;
}

h1 {
	text-align: center;
}

/*@media all and (orientation:landscape) {
 #maindiv {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
 }
}
*/












