!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent

            //text block
            .bTextBlock
                h1.eTextBlock_heading
                    |про бренд
                p
                    |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                p
                    |"Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого.
                .bLikeThis
                    a.eLikeThis.mFB(href='')
                    a.eLikeThis.mHeart(href='')
            //#text block
            .bTextBlockBg
                //img.mImgResponsive(src='img/about_brand_bg.jpg',alt='')
            include jade/_bottom_data
        //#content
        include jade/_js