!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent
            //contacts
            .bContactsWrap
                h1.bContactsHeading: |зворотнiй зв’язок
                .bContacts
                    form
                        //left
                        .eContacts_col
                            .bInputWrap
                                input.bTextInput(type='text',placeholder='ФІП',value='')
                            .bInputWrap
                                input.bTextInput(type='text',placeholder='e-mail',value='')
                            .bInputWrap
                                input.bTextInput(type='text',placeholder='Телефон',value='')
                        //#left
                        //right
                        .eContacts_col
                            .bInputWrap
                                textarea.bTextArea(placeholder='Текст Вашого повідомлення')
                            .textRight
                                button.bBtn.mContactsSent: | надіслати
                        //#right
                //contacts social
                .bContactsSocial
                    a.bIco.mFB(href='#')
                    a.bIco.mVK(href='#')
                    a.bIco.mTW(href='#')
                    a.bIco.mIG(href='#')
                    a.bIco.mYT(href='#')
                    a.bIco.mPhone(href='#')
                //#contacts social
            //block shadow
            .bBlockBottomShadow
            //#block shadow
            //#contacts
            include jade/_bottom_data
        //#content
        include jade/_js