!!! 5
html
    head
        meta(charset='UTF-8')
        title Премиале
        style(type='text/css')
            html {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 30px 0;
                min-height: 100%;
                background: #B1B1B1;
                box-shadow: inset 0 0 100px 0 rgb(107, 102, 84);
            }

            * {
                -webkit-transition: .2s all ease;
                transition: .2s all ease;
            }

            .bWrap {
                background: #FFF;
                margin: 0 auto;
                width: 960px;
                padding: 40px;
                border: 2px solid orange;
                border-radius: 10px;
            }

            .bTable {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 18px;
                font-family: Verdana, sans-serif;
            }

            .bTable th {
                background: orange;
                text-align: left;
                font-weight: normal;
                padding: 10px;
            }

            .bTable td {
                vertical-align: middle;
                padding: 5px 5px;
                border-bottom: 1px solid #f4f4f4;
            }

            .bTable tr:nth-of-type(even) {
                background: #F3F3F3;
            }

            /*img prev*/
            .bPrevImg {
                text-align: center;
                background: orange;
                padding: 10px 0;
                cursor: pointer;
                text-transform: uppercase;
                margin: 5px 0;
            }

            .bPrevImg:hover {
                background: orangered;
            }

            .bPrevImg:hover .bPrevImg_source {
                display: block;
            }

            .bPrevImg_source {
                position: fixed;
                left: 50%;
                top: 50%;
                display: none;
                max-width: 600px;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .bPrevImg_source img {
                display: block;
                width: 100%;
                height: auto;
                border: 3px solid orange;
                box-shadow: 0 0 50px 0 rgba(0, 0, 0, .8);
                border-radius: 10px;
            }
    body
        div.bWrap
            h1(title='ШЛАК') Премиале
            table.bTable
                thead
                    tr
                        th.col_1
                            | №
                        th.col_2
                            | Верстка
                        th.col_3
                            | Страница
                        th.col_4
                            | Макет
                        th.col_5
                            | Превью
                tbody
                    tr
                        td.col_1
                            | 1
                        td.col_2
                            a.eItem_link(href='main.html', target='_blank')
                                | main.html
                        td.col_3
                            | Главная с паралаксом
                        td.col_4
                            | хз
                        td.col_5
                            //div.bPrevImg
                                | превью
                                div.bPrevImg_source
                                    img(src='!project_jpgs/Help Page.jpg', alt='')
                    tr
                        td.col_1
                            | 2
                        td.col_2
                            a.eItem_link(href='brand.html', target='_blank')
                                | brand.html
                        td.col_3
                            | Про бренд
                        td.col_4
                            | хз
                        td.col_5
                    tr
                        td.col_1
                            | 3
                        td.col_2
                            a.eItem_link(href='preloader.html', target='_blank')
                                | preloader.html
                        td.col_3
                            | Прелоадер
                        td.col_4
                            | хз
                        td.col_5
                    tr
                        td.col_1
                            | 4
                        td.col_2
                            a.eItem_link(href='contacts.html', target='_blank')
                                | contacts.html
                        td.col_3
                            | Контакты
                        td.col_4
                            | хз
                        td.col_5
                    tr
                        td.col_1
                            | 5
                        td.col_2
                            a.eItem_link(href='news.html', target='_blank')
                                | news.html
                        td.col_3
                            | Новости
                        td.col_4
                            | хз
                        td.col_5
                    tr
                        td.col_1
                            | 6
                        td.col_2
                            a.eItem_link(href='intro.html', target='_blank')
                                | intro.html
                        td.col_3
                            |  Интро
                        td.col_4
                            | хз
                        td.col_5
                    tr
                        td.col_1
                            | 7
                        td.col_2
                            a.eItem_link(href='product.html', target='_blank')
                                | product.html
                        td.col_3
                            |  Продукт
                        td.col_4
                            | хз
                        td.col_5