!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent
            .ani
                img#korzinka(src="img/korzinka.png")
                img#bottle1(src="img/bottle.png")
                img#bottle2(src="img/bottle.png")
                img#bottle3(src="img/bottle.png")
                img#front(src="img/front.png")



            //intro QR
            .bIntroQR
                .eIntroQR_headText
                    |Щоб приєднатися до віртуальної дегустації
                    b: |  Premialle
                    |, відкрийте в браузері мобільного пристрою сторінку *
                .bInputWrap
                    input.bTextInput(type='text',placeholder='',value='m.premialle.ua')
                .eIntroQR_enterCodeText
                    |і введіть цей код.
                .bInputWrap
                    input.bTextInput(type='text',placeholder='',value='684')
                .eIntroQR_enterCodeText
                    |Або ж відскануйте QR-код використовуючи спеціальною програмою на вашому пристрої.
                .eIntroQR_qr
                    img.mImgResponsive(src='img/ex/qr.png')
                .eIntroQR_helpText
                    |* Немає телефону?
                    br
                    |Використовуйте мишу..
                //shadow
                .eIntroQR_shadow
            //#intro QR
            //intro QR sync
            .bIntroQR.mStatView(hidden)
                .eIntroQR_statusIco
                    img.mImgResponsive(src='img/ico_wait_sync.png',alt='')
                .eIntroQR_statusText
                    b:| зачекайте, йде синхронiзацiя...
                //shadow
                .eIntroQR_shadow
            //#intro QR sync
             //intro QR sync
            .bIntroQR.mStatView(hidden)
                .eIntroQR_statusIco
                    img.mImgResponsive(src='img/ico_conected.png',alt='')
                .eIntroQR_statusText
                    b:|є контакт!
                    |вітаємо вас в інтерактівній дегустації Premialle!
                //shadow
                .eIntroQR_shadow
            //#intro QR sync
            //block shadow
            //.bBlockBottomShadow.mPreloader
            //#block shadow
        include jade/_js