!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent.mNoTranslate
            //news
            .bNews
                //view news block
                .bNewsView
                    .eNewsView_close
                        .bIco
                    .eNewsView_img
                        img(src='img/ex/news_1.jpg',alt='')
                    // для отображения заголовка без иконки добавить блоку eNewsView_header класс mNoIco
                    .eNewsView_header
                        .eNewsView_headerIco
                            .bIco
                        .eNewsView_heading
                            | Lorem Ipsum - це текст це текст це текст
                        .eNewsView_date
                            |02.01.2014
                    .eNewsView_content
                        p
                            |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        p
                            |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .eNewsView_footer
                        a.bIco(href='#')
                        a.bIco(href='#')
                        a.bIco(href='#')

                //#view news block
                //news grid
                .bNewsItemWrap
                    .eNewsItemWrap_inner
                        //item
                        .bNewsItem.mSubscribe
                            .eNewsItem_header
                                .eNewsItem_headerText
                                    | Підписатися на новини та акцій
                                .bIco.mMail
                            .eNewsItem_content
                                .bInputWrap
                                    input.bTextInput(type='text',placeholder='ФІП',value='')
                                .bInputWrap
                                    input.bTextInput(type='text',placeholder='e-mail',value='')
                                button.bBtn.mContactsSent: | надіслати
                        //#item
                        //- var helpItems = ['1','2','3','4','1','2','3','4']
                        //- each item, i in helpItems
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |1
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                //img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |2
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_2.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |3
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |4
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |5
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |6
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |7
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |8
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |9
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                //#news grid
            //#news
            include jade/_bottom_data
        //#content
        include jade/_js