!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent

            #messages

            #endmessage

            //#preloader
                #drop_img.bPreloaderDrop_1
                    img.mImgResponsive(src='img/preloader/drop_1.png')
                #drop_img_2.bPreloaderDrop_2
                    img.mImgResponsive(src='img/preloader/drop_2.png')
                #bottle.bPreloaderBottle
                    img.mImgResponsive(src='img/preloader/bottle-0.png')
            .bBottleWithCap
                .eBottleWithCap_cap
                    img.mImgResponsive(src='img/preloader/bottle_cap.png')
                img.mImgResponsive(src='img/preloader/bottle-0.png')
            #pass

            #out

            //#introplay

            .bPreloaderHeading
                h1
                    | ідеальний тандем скла і молока
                    br
                    | В інтерактивній дегустації Premialle
                a.bBtn(href=''): | почати
            //block shadow
            .bBlockBottomShadow.mPreloader
            //#block shadow
        include jade/_js