!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent
            //product
            .bProductWrap
                .bProduct
            //#product

            //parallax
            .bParallax
                div.eParallax_img.m3(data-depth="0.33",class="layer")
                    img(src="img/parallax_drops_3.png",alt="")
                div.eParallax_img.m2(data-depth="0.66",class="layer m2")
                    img(src="img/parallax_drops_2.png",alt="")
                //bottle
                .bBottleImg
                  img(src="img/bottle_with_splash.png",alt="")
                //#bottle
                div.eParallax_img.m1(data-depth="1.00",class="layer m1")
                    img(src="img/parallax_drops_1.png",alt="")
            //#parallax
            include jade/_bottom_data
        //#content
        include jade/_js