/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

#arrow {
  position: absolute;
  font-size: 100pt;
}

#maindiv {
  width: 100% !important;
  height: 100% !important;
}

#hint {
  position: absolute;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}

/*.jsMovieFrame {
 background-position: top center !important;
 background-size: cover !important;
 width: 100% !important;
 height: 100% !important;
}   */
/* ------------ REMOTE WINDOW ------------- */
#enter-code {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 30px;
  padding: 20px 60px;
}

input[type="text"] {
  background: none;
  border: none;
  border: 1px white solid;
  padding: 6px;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 100%;
}

input:focus, form:focus, div:focus {
  outline: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  color: #34537e;
  border: none;
  font-size: 20px;
  padding: 6px;
  width: 100%;
  margin-top: 10px;
}

#preloader {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drop1 {
  /*width: 81px;
  height: 93px;*/
  background: url(img/drop-1.png);
  position: absolute;
  /*top: 20px;
  left: 100px;*/
}

.drop2 {
  /*width: 73px;
  height: 69px;*/
  background: url(img/drop-2.png);
  position: absolute;
  top: 60px;
  left: 900px;
}

#pass {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 30px 10px;
  display: block;
}

#out {
  float: right;
  margin: 20px 60px 0 0;
  width: 260px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 10px 30px 10px;
}

#pass a.bb {
  font-size: 14px;
  color: white;
  border: 1px white solid;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  display: block;
  word-break: break-all;
}

#pass canvas {
  border: 1px white solid;
  background: none repeat scroll 0% 0% white;
}

#introplay, #milktoglass, .jsMovieFrame {
  height: 100% !important;
}

#introplay, #milktoglass {
  width: 100% !important;
}

.jsMovieFrame {
  width: 100% !important;
  background-size: contain !important;
  background-position: center !important;
}

#pass, #out, #messages {
  position: absolute;
  right: 0px;
}

html {
  font-size: 16px;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 2.625em;
  line-height: 1.3;
  color: #fff;
  margin: 0 0 1em;
  font-weight: 700;
}

.bBtn {
  display: inline-block;
  height: 4.375em;
  line-height: 4.375em;
  min-width: 19.0625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #30a8d1;
  font-size: 1.5em;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.9), 2px 1px 0px rgba(255, 255, 255, 0.9), 1px 2px 0px rgba(255, 255, 255, 0.9), 3px 2px 0px rgba(255, 255, 255, 0.9), 2px 3px 0px rgba(255, 255, 255, 0.9), 4px 3px 0px rgba(255, 255, 255, 0.9), 3px 4px 0px rgba(255, 255, 255, 0.9), 5px 4px 0px rgba(255, 255, 255, 0.9), 4px 5px 0px rgba(255, 255, 255, 0.9);
  /* etc */
}

.bLogo {
  display: block;
  visibility: hidden;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
  height: 6.375em;
  width: 11.625em;
  margin: 1.5625em auto 3.125em;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.25em;
  z-index: 20;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../img/menu_bg_close.png") no-repeat center;
}
.bNav.active {
  width: 18.25em;
  background: url("../img/menu_bg_open.png") no-repeat center;
  background-size: cover;
}
.bNav.active .bLogo {
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.bNav.active .eNavList_text {
  display: block;
  font-size: 1.25em;
  opacity: 1;
}
.bNav.active .bNavSocials {
  bottom: 0;
  left: 0.9375em;
  margin-left: 0;
}
.bNav.active .eNav_btn {
  right: 1.5625em;
  bottom: 1.5625em;
  margin-right: 0;
  background-image: url("../img/ico_menu_close.png");
}
.bNav.active .eNav_shadow {
  width: 19.3125em;
  background-image: url("../img/menu_shadow_open.png");
}
.bNav.active + .bContent {
  -webkit-transform: translate(9.125em, 0);
  -ms-transform: translate(9.125em, 0);
  -o-transform: translate(9.125em, 0);
  transform: translate(9.125em, 0);
}
.bNav.mVisible {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  opacity: 1;
}

.eNav_shadow {
  position: absolute;
  height: 100%;
  top: 0;
  right: -2.1875em;
  width: 7.25em;
  background-image: url("../img/menu_shadow_close.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eNav_sideBorder {
  width: 0.3125em;
  height: 100%;
  position: absolute;
  opacity: .7;
  top: 0;
  right: 0;
  background-image: url("../img/menu_side_bg.png");
  background-repeat: repeat-y;
  background-size: contain;
}

.bNavList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}
.bNavList li {
  margin: 0;
  padding-right: 0.3125em;
}
.bNavList a {
  display: block;
  text-decoration: none;
  padding: 0.8125em 0 0.5em;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bNavList a:hover {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
}
.bNavList a.active .eNavList_text {
  color: #333333;
}

.eNavList_ico {
  width: 2.625em;
  height: 2.625em;
  margin: 0 auto 0.4375em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.eNavList_ico.mHome {
  background-image: url("../img/ico_menu_home.png");
}
.eNavList_ico.mProducts {
  background-image: url("../img/ico_menu_products.png");
}
.eNavList_ico.mPromo {
  background-image: url("../img/ico_menu_promo.png");
}
.eNavList_ico.mNews {
  background-image: url("../img/ico_menu_news.png");
}
.eNavList_ico.mAbout {
  background-image: url("../img/ico_menu_partners.png");
}
.eNavList_ico.mContacts {
  background-image: url("../img/ico_menu_contacts.png");
}

.eNavList_text {
  color: #FFF;
  font-weight: 300;
  font-size: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.eNav_btn {
  position: absolute;
  z-index: 10;
  right: 50%;
  margin-right: -1.25em;
  bottom: 1.5625em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/ico_menu_open.png");
}

.bNavSocials {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  margin-left: -0.8125em;
  bottom: 4.375em;
  z-index: 10;
}

.eNavSocials {
  display: block;
  width: 1.625em;
  height: 1.625em;
  margin-bottom: 1.125em;
  background-repeat: no-repeat;
  background-position: center;
}
.eNavSocials.mFB {
  background-image: url("../img/ico_fb.png");
}
.eNavSocials.mVK {
  background-image: url("../img/ico_vk.png");
}
.eNavSocials.mTW {
  background-image: url("../img/ico_tw.png");
}
.eNavSocials.mIG {
  background-image: url("../img/ico_ig.png");
}
.eNavSocials.mYT {
  background-image: url("../img/ico_yt.png");
}

.bContent {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bBottleImg {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.bBottleImg img {
  display: block;
  width: 100%;
  height: auto;
}

.bParallax img {
  display: block;
  width: 100%;
  height: auto;
}

.bBg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.bBg.mPreloader {
  background-image: url("../img/bg_preloader.jpg");
}

/*
preloader page
*/
.bPreloaderHeading {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 6.25em;
  text-align: center;
}

.bPreloaderBottle {
  width: 6.875em;
  height: 22.125em;
}

/*.bPreloaderDrop_1 {
  width: 2.1875em;
  height: 2.875em;
}

.bPreloaderDrop_2 {
  width: 1.9375em;
  height: 1.75em;
}*/

.mImgResponsive {
  display: block;
  width: 100%;
  height: auto;
}
