html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
    /*background: #80bef1;*/
	background: #80bef1;
	background-size: 100%;
	color: white;
    overflow: hidden;
}

#preloader {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drop1 {
    /*width: 81px;
    height: 93px;*/
    background: url(img/drop-1.png);
    position: absolute;
    /*top: 20px;
    left: 100px;*/
}

.drop2 {
    /*width: 73px;
    height: 69px;*/
    background: url(img/drop-2.png);
    position: absolute;
    top: 60px;
    left: 900px;
}        
        

#pass {
	float: right;
	margin: 20px 60px 0 0;
	width: 260px;
	text-align: center;
	background: rgba(0,0,0,.2);
	padding: 10px 10px 30px 10px;    
    display: block;    
}

#out {
	float: right;
	margin: 20px 60px 0 0;
	width: 260px;
	text-align: center;
	background: rgba(0,0,0,.2);
	padding: 10px 10px 30px 10px;
}

#pass a.bb {
	font-size: 14px;
	color: white;
	border: 1px white solid;
	padding: 10px;
	background: rgba(0,0,0,.2);
    display: block;
    word-break: break-all;
}

#pass canvas {
	border: 1px white solid;
    background: none repeat scroll 0% 0% white;

}

html, body, #introplay, #milktoglass, .jsMovieFrame {
 height: 100% !important;
}

#introplay, #milktoglass {
 width: 100% !important;
}

.jsMovieFrame {
 width: 100% !important;
 background-size: contain !important;
 background-position: center !important;
}
#pass, #out, #messages {
position: absolute;
right:0px;
}

/*#messages{
    position: absolute;
    top:100px;
    left:0;
    height: 15px;
    width:150px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
*/
